# Environment Configuration
ENV=development

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
API_RELOAD=True

# PostgreSQL Configuration
DATABASE_URL=postgresql://postgres:password@localhost:5432/ai_safety_monitoring
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ai_safety_monitoring
DB_USER=postgres
DB_PASSWORD=password


# Security
SECRET_KEY=ksd8F3sJdh28hSjF9sq0Ksd9Ksk2
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Email Configuration (for alerts)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=titusjerwin@gmail.com
SMTP_PASSWORD=dzne fcnv busu yqtv
ALERT_EMAIL_FROM=titusjerwin@gmail.com
ALERT_EMAIL_TO=davidjayaraj01@gmail.com

# SMS Configuration (Twilio or similar)
SMS_PROVIDER=twilio
TWILIO_ACCOUNT_SID=AC865fcc42143a6872faedcef1ab9ee16d
TWILIO_AUTH_TOKEN=2a6678741c7f1bef781b16371b91dae4
TWILIO_PHONE_NUMBER=+14067208979
ALERT_PHONE_NUMBER=9840488355

# AI Model Configuration
AI_MODEL_PATH=./models
AI_CONFIDENCE_THRESHOLD=0.75
ANOMALY_DETECTION_SENSITIVITY=medium

# Sensor Thresholds
GAS_WARNING_THRESHOLD=300
GAS_DANGER_THRESHOLD=500
TEMP_WARNING_THRESHOLD=35
TEMP_DANGER_THRESHOLD=45
VIBRATION_WARNING_THRESHOLD=5
VIBRATION_DANGER_THRESHOLD=10
PROXIMITY_WARNING_THRESHOLD=100
PROXIMITY_DANGER_THRESHOLD=800

# Logging
LOG_LEVEL=INFO
LOG_FILE=./logs/app.log

# CORS
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# Arduino Configuration
ARDUINO_ENDPOINT=http://10.54.156.112/
ARDUINO_TIMEOUT=5